@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
header{
	padding: 10px;
	background-color: #141a35;
	color: white;
}
body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #6998AB; */
    background-color: #84DFFF;
    color: black;
}
main {
	display: flex;
	flex-direction: row;
}
.flex-item{
	flex-grow: 1;
    /* border: 1px solid black; */
}
form{
    /* background-color: rgb(136, 133, 133); */
    margin: 20px;
    padding: 20px;		    
}
.form-group{
    display: flex;
    flex-direction: column;
}
#list-mhs{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

    overflow: auto;
    
    height: 560px;
    background-color: whitesmoke;
    margin-right: 20px;
    margin-top: 20px;
    min-width: 560px;
}
input {
	font-family: Raleway;
   	border: 2px solid black;
   	border-radius: 8px;
   	padding: 8px;
  	box-sizing: border-box;
   	margin-bottom: 8px;
   	font-size: 20px;
}
.submit-btn:hover{
	cursor: pointer;
}
.item-mhs{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
.item-mhs h4{
	margin-top: 1px;
}
.item-mhs:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.item-mhs h4, p4{
	padding: 2px;
}
.item-mhs p{
	margin: 0;
}
.edit-btn{
	float: right;
	position: relative;
	bottom: 20px;		
	cursor: pointer;	
}
.delete-btn{
	float:right;
	position: relative;
	bottom: 20px;
	cursor: pointer;
	background-color: red;
	margin-left: 5px;
}