@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #6998AB; */
    background-color: #84DFFF;
    color: black;
}